{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="div header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock page_header%}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-10 offset-1 col-md-8 offset-md-2 my-auto align-self-center dc-banner-bg">
                <h1 class="h3 dc-banner-font mt-4">Supporting your local artisans...</h1>
                <div class="d-flex justify-content-center dc-btn-entershop btn btn-lg rounded mb-4">
                    <h4>
                        <a href="{% url 'products' %}" class="text-uppercase dc-banner-button-text p-3">Enter Shop</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}