{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock extra_css %}

{% block page_header %}
    <div class="div header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock page_header%}

{% block content %}
    <div class="dc-background-overlay"></div>
    <div class="container">
        <!-- Shopping Checkout Header -->
        <div class="row">
            <div class="col-12">
                <h2 class="dc-logo-font">Checkout</h2>
                <!-- HR Separator -->
                <div class="hr-heavy mb-5"></div>
            </div>
        </div>
        <!-- Table of Items to Purchase -->
        <div class="row">
            <!-- Product Details Header -->
            <div class="col-7">
                <h6>Description</h3>
            </div>
            <!-- Product Quantity Header -->
            <div class="col-1">
                <h6>Qty</h3>
            </div>
            <!-- Product Price -->
            <div class="col-2 text-end">
                <h6>Unit Cost</h3>
            </div>
            <!-- Product Subtotal -->
            <div class="col-2 text-end">
                <h6>Subtotal</h3>
            </div>
            <div class="hr-light"></div>
            {% for item in basket_items_list %}
                <!-- Product Image -->
                <div class="col-2 mb-1">
                    <a href="{% url 'product_detail' item.product.id %} ">
                        {% if item.product.item_id.image %}
                            <img class="w-100" src="{{ item.product.item_id.image.url }}" alt="{{ product.item_id.name }}">
                        {% else %}
                            <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.item_id.name }}">
                        {% endif %}
                    </a>
                </div>
                <!-- Product Details -->
                <div class="col-5">
                    <p class="my-0"><strong>{{ item.product.item_id.name }}</strong></p>
                    <p class="my-0">{{ item.quantity }}</p>
                </div>
                <!-- Product Quantity -->
                <div class="col-1">
                    <p class="my-0">{{ item.quantity }}</p>
                </div>
                <!-- Product Price -->
                <div class="col-2 text-end">
                    <p class="m-0 small text-muted">
                        € {{ item.unit_price | floatformat:2 }}</p>
                </div>
                <!-- Product Subtotal -->
                <div class="col-2 text-end">
                    <p class="m-0 small">€ {{ item.line_value | floatformat:2 }}</p>
                </div>
                <div class="hr-light"></div>
            {% endfor %}
            <!-- Table Totals -->
            <div class="hr-heavy"></div>
            <div class="container">
                <div class="row text-end">
                    <div class="col-6 offset-2">
                        <p class="my-0">Goods Value</p>
                        <p class="my-0">Delivery</p>
                        <p class="my-0">Grand Total</p>
                    </div>
                    <div class="col-1">
                        <p class="m-0 text-end">€</p>
                        <p class="m-0 text-end">€</p>
                        <p class="m-0 text-end">€</p>
                    </div>
                    <div class="col-3">
                        <p class="my-0 text-end">{{ total_value | floatformat:2 }}</p>
                        <p class="my-0 text-end">{{ delivery_cost }}</p>
                        <p class="my-0 text-end">{{ grand_total}}</p>
                    </div>
                </div>   
            </div>
            <!-- Shopping Checkout Form -->
            <div class="col-12">
                <p>Please fill out the form below to complete your order.</p>
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <!-- Order Personal Information -->
                    <fieldset class="rounded px-3 mb-2">
                        <legend class="fieldset-label small px-2 w-auto">Your Contact Details:</legend>
                        {{ order_form.full_name | as_crispy_field  }}
                        {{ order_form.email | as_crispy_field }}
                        {{ order_form.phone_no | as_crispy_field }}
                    </fieldset>
                    <!-- Order Delivery Information -->
                    <fieldset class="rounded px-3 mb-2">
                        <legend class="fieldset-label small px-2 w-auto">Your Delivery Address:</legend>
                        {{ order_form.address_street_1 | as_crispy_field }}
                        {{ order_form.address_street_2 | as_crispy_field }}
                        {{ order_form.address_town_city | as_crispy_field }}
                        {{ order_form.address_postcode | as_crispy_field }}
                        {{ order_form.address_country | as_crispy_field }}
                        <div class="form-check form-check-inline float-right mr-0">
                            {% if user.is_authenticated %}
                                <label class="form-check-label" for="id-save-info">Save to your profile</label>
                                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                            {% else %}
                                <label class="form-check-label" for="id-save-info">
                                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                                    <a class="text-info" href="{% url 'account_login' %}">Log in</a>
                                </label>
                            {% endif %}
                        </div>
                    </fieldset>

                    <!-- Stripe Form -->
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label small px-2 w-auto">Payment</legend>
                        <!-- Stripe elements go here -->
                        <div class="mb-3" id="card-element"></div>
                        <!-- Used to display form errors -->
                        <div class="mb-3" id="card-errors"></div>
                    </fieldset>
                    
                    <!-- Form Completion Buttons -->
                    <div class="submit-button text-end mt-5 mb-2">
                        <!-- Back to shopping basket button -->
                        <a href="{% url 'view_basket' %}" class="btn btn-dc-standard rounded-0">
                                Review your Shopping Basket
                            </span>
                            <span class="icon">
                                <i class="bi bi-basket-fill"></i>
                            </span>
                        </a>
                        <!-- Complete Order Button -->
                        <button id="submit-button" class="btn btn-dc-standard rounded-0">
                            <span>Complete Order</span>
                            <span class="icon">
                                <i class="bi bi-credit-card-fill"></i>
                            </span>
                        </button>
                        <!-- Order value information text. -->
                        <p class="pt-4">
                            <span class="icon">
                                <i class="bi bi-exclamation-circle-fill"></i>
                            </span>
                            <span><strong>€{{ total_value | floatformat:2 }}</strong> will be charged to your card.</span>
                        </p>
                    </div>
                    <!-- End Buttons -->
                </form>
            </div>
            <!-- End Col-12 -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
    <!-- Loading Screen -->
    <div id="loading-overlay">
        <h1 class="dc-logo-font loading-spinner">
            <span class="icon">
                <i class="bi bi-arrow-clockwise"></i>
            </span>
        </h1>
    </div>
{% endblock content %}

{% block postload_js %}
    {{ black.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements_1.js' %}"></script> <!-- testhigh -->
{% endblock postload_js %}