{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="div header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock page_header%}

{% block content %}
    <div class="background-overlay"></div>
    <div class="container mb-2">
        <!-- Shopping Basket Header -->
        <div class="row">
            <div class="col">
                <h2 class="dc-logo-font">Shopping Basket</h2>
                <!-- HR Separator -->
                <div class="hr-heavy"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if basket_items_list %}
                    <!-- Order Total Table -->
                    <table class="table table-striped table-hover">
                        <!-- Table Header -->
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col"></th>
                                <th scope="col">Product</th>
                                <th scope="col">Qty.</th>
                                <th scope="col">Unit Cost</th>
                                <th scope="col">Total Cost</th>
                            </tr>
                        </thead>
                        <!-- Table Body -->
                        <tbody class="table-hover">
                            {% for item in basket_items_list %}
                                <tr>
                                    <!-- Item Number -->
                                    <td>{{ forloop.counter }}</td>
                                    <!-- Item Image -->
                                    <td class="w-25 p-3">
                                        <img class="img-fluid rounded" src="{{ item.product.item_id.image_url }}">
                                    </td>
                                    <!-- Item Name and Stock Number -->
                                    <td class="py-3">
                                        <p class="my-0">
                                            <strong>{{ item.product.item_id.name }}</strong>
                                        </p>
                                        <p class="my-0 text-muted">
                                            {{ item.product.sku }}
                                        </p>
                                    </td>
                                    <!-- Item Quantity -->
                                    <td class="py-3">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_basket' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="bi bi-dash-circle-fill"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input id_qty_{{ item.item_id }}" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="bi bi-plus-circle-fill"></i>
                                                            </span>
                                                        </button>
                                                        <!-- Refresh Item Button -->
                                                        <button class="update-link btn btn-sm rounded-0">
                                                            <span>
                                                                <i class="bi bi-bootstrap-reboot"></i>
                                                            </span>
                                                        </button>
                                                        <!-- Remove Item -->
                                                        <button class="remove-item btn btn-sm rounded-0"
                                                            data-item_id="{{ item.item_id }}" id="remove_{{ item.item_id }}">
                                                            <span>
                                                                <i class="bi bi-x-circle-fill text-danger"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                    <!-- Item Cost -->
                                    <td class="py-3">
                                        <p class="my-0">
                                            € {{ item.unit_price|floatformat:"2" }}
                                        </p>
                                    </td>
                                    <!-- Total Cost -->
                                    <td class="py-3">
                                        <p class="my-0">
                                            <strong>€ {{ item.line_value|floatformat:"2" }}</strong>
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5">
                                    <Strong>Total Cost:</Strong>
                                </td>
                                <td>
                                    <p><strong>€ {{ total_value|floatformat:"2" }}</strong></p>
                                </td>
                            </tr>
                            <!--
                            <tr>
                                <td colspan="6" class="pt-5 text-end">
                                    <div class="col-12 mt-5">
                                        <a href="{% url 'products' %}" class="btn btn-dc-standard">
                                            <span>
                                                <i class="bi bi-chevron-double-left"></i> Continue Shopping?
                                            </span>
                                        </a>
                                        <a href="" class="btn btn-dc-standard">
                                            <span>
                                                <i class="bi bi-lock-fill"></i> Checkout Securely
                                            </span>
                                        </a>
                                    </div>
                                </td>
                            </tr>-->
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end">
                        <div class="pt-3">
                            <a href="{% url 'products' %}" class="btn btn-dc-standard">
                                <span>
                                    <i class="bi bi-chevron-double-left"></i> Continue Shopping?
                                </span>
                            </a>
                            <a href="" class="btn btn-dc-standard">
                                <span>
                                    <i class="bi bi-lock-fill"></i> Checkout Securely
                                </span>
                            </a>
                        </div>
                    </div>
                {% else %}
                    <!-- Empty Basket Condition -->
                    <p class="lead mb-5">Your basket is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-dc-standard">
                        <i class="bi bi-arrow-return-left"></i> Continue Shopping?
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block postload_js %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/basket/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
            location.reload();
         });
    })
</script>

{% endblock postload_js%}