{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="div header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock page_header%}

{% block content %}
    <div class="background-overlay"></div>
    <div class="container mb-2">
        <!-- Shopping Basket Header -->
        <div class="row">
            <div class="col">
                <h2 class="dc-logo-font">Shopping Basket</h2>
                <!-- HR Separator -->
                <div class="hr-heavy"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if basket_items_list %}
                    <!-- Order Total Table -->
                    <table class="table table-striped table-hover">
                        <!-- Table Header -->
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col"></th>
                                <th scope="col">Product</th>
                                <th scope="col">Qty.</th>
                                <th scope="col">Unit Cost</th>
                                <th scope="col">Total Cost</th>
                            </tr>
                        </thead>
                        <!-- Table Body -->
                        <tbody class="table-hover">
                            {% for item in basket_items_list %}
                                <tr>
                                    <!-- Item Number -->
                                    <td>{{ forloop.counter }}</td>
                                    <!-- Item Image -->
                                    <td class="w-25 p-3">
                                        <img class="img-fluid rounded" src="{{ item.product.item_id.image_url }}">
                                    </td>
                                    <!-- Item Name and Stock Number -->
                                    <td class="py-3">
                                        <p class="my-0">
                                            <strong>{{ item.product.item_id.name }}</strong>
                                        </p>
                                        <p class="my-0 text-muted">
                                            {{ item.product.sku }}
                                        </p>
                                    </td>
                                    <!-- Item Quantity -->
                                    <td class="py-3">
                                        <p class="my-0">
                                            {{ item.quantity }}
                                        </p>
                                    </td>
                                    <!-- Item Cost -->
                                    <td class="py-3">
                                        <p class="my-0">
                                            € {{ item.unit_price|floatformat:"2" }}
                                        </p>
                                    </td>
                                    <!-- Total Cost -->
                                    <td class="py-3">
                                        <p class="my-0">
                                            <strong>€ {{ item.line_value|floatformat:"2" }}</strong>
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5">
                                    <Strong>Total Cost:</Strong>
                                </td>
                                <td>
                                    <p><strong>€ {{ total_value|floatformat:"2" }}</strong></p>
                                </td>
                            </tr>
                            <!--
                            <tr>
                                <td colspan="6" class="pt-5 text-end">
                                    <div class="col-12 mt-5">
                                        <a href="{% url 'products' %}" class="btn btn-dc-standard">
                                            <span>
                                                <i class="bi bi-chevron-double-left"></i> Continue Shopping?
                                            </span>
                                        </a>
                                        <a href="" class="btn btn-dc-standard">
                                            <span>
                                                <i class="bi bi-lock-fill"></i> Checkout Securely
                                            </span>
                                        </a>
                                    </div>
                                </td>
                            </tr>-->
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end">
                        <div class="pt-3">
                            <a href="{% url 'products' %}" class="btn btn-dc-standard">
                                <span>
                                    <i class="bi bi-chevron-double-left"></i> Continue Shopping?
                                </span>
                            </a>
                            <a href="" class="btn btn-dc-standard">
                                <span>
                                    <i class="bi bi-lock-fill"></i> Checkout Securely
                                </span>
                            </a>
                        </div>
                    </div>
                {% else %}
                    <!-- Empty Basket Condition -->
                    <p class="lead mb-5">Your basket is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-dc-standard">
                        <i class="bi bi-arrow-return-left"></i> Continue Shopping?
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}