/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Roboto+Condensed:wght@300&family=Roboto:wght@100;400;700&display=swap');

/* font-family: 'Andada Pro', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

/* Colors */
/* 1___ 92374D Solid Pink rgb(146, 55, 77) Solid Pink */
/* 2___ 8C5383 Rasmic Berry */
/* 3___ 4A5899 Liberty */
/* 4___ 559CAD Pacific Blue  */
/* 5___ C1B2AB Pale Silver */


/* Special Paddings Margins Text Rules */

/* General */
html {
  height: 100%;
  scroll-behavior: smooth;
}

* {
    /*color: #293132;*/
    color: #293132;  /* TESTHIGH */
    font-family: 'Roboto', sans-serif;
}

.text-black {
    color: #000 !important;
}

.hr-light {
    border-bottom: 1px solid #8C5383;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

.hr-heavy {
    border-bottom: 3px solid #8C5383;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.6);
}

/*Credit to Alessandro Incarnati for idea of doing multicolored hr. https://stackoverflow.com/questions/29733780/how-to-style-hr-to-have-multiple-colors*/
/*  Copied Code: span { display:block; width:10%; float:left; height:5px;}  .line{width:100%;}  */
.hr_span{
    display:    block;
    width:      20%; /* 20% = 100% width / 5 colors. */
    float:      left;
    height:     10px;
}

.hr_div{
    width:100%;
    padding: 0;
    margin:0;
}

.bg_color1 {background-color:    #92374D;}    /* Color 1 - Solid Pink */
.bg_color2 {background-color:    #8C5383;}    /* Color 2 - Rasmic Berry*/
.bg_color3 {background-color:    #4A5899;}    /* Color 3 - Liberty*/
.bg_color4 {background-color:    #559CAD;}    /* Color 4 - Pacific Blue*/
.bg_color5 {background-color:    #C1B2AB;}    /* Color 5 - Pale Silver*/

/* General Button Styling */
.btn-dc-standard {
    background-color: #92374D !important;
    color: #ffffff !important;
    border: 2px solid #4a1c28 !important;
    box-shadow: 0 9px #999 !important;
    border-radius: 0.5rem !important;
}

.btn-dc-standard:active {
    background-color: #c76b82 !important;
    color: #ffffff !important;
    border: 2px solid #4a1c28 !important;
    box-shadow: 0 5px #666 !important;
    transform: translateY(4px);
}

.btn-dc-standard:hover {
    background-color: #c76b82 !important;
    color: #ffffff !important;
    border: 2px solid #4a1c28 !important;
    box-shadow: 0 9px #999 !important;
    border-radius: 0.5rem !important;
}

.btn-dc-standard:focus {
    background-color: #c76b82 !important;
    color: #ffffff !important;
    border: 2px solid #4a1c28 !important;
    box-shadow: 0 5px #666 !important;
    border-radius: 0.5rem !important;
}

/* Heading */

header {
    z-index: 99999;
    position: fixed;
}

nav a {
    color: #293132;
}

.bg-nav {
    background-color: #4F5165;
    width: 100%;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
    border: 0;
}

.dc-nav-link {
    color: #ffffff !important; 
    font-weight: 400;
}

/* Floating nav button and arrow up */

.floating-button {
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:20px;
	background-color:rgba(146, 55, 77, 0.75);
	color:#FFF;
	border-radius:30px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 9999999;
}

.fa-arrow-up {
    color: rgba(255,255,255,0.75);
    font-size: 40px;
}

/* Main Sections */

/* Scroll Margin Added to prevent anchors running underneath the sticky header */
/* Credit:  https://gomakethings.com/how-to-prevent-anchor-links-from-scrolling-behind-a-sticky-header-with-one-line-of-css/ written by Chris Ferdinandi*/
#dc-main-content {
    scroll-margin-top: 172px;   /* Small screens 172px header */
}






/* Images and image titles */





/* Contact Form */








/* Footer */
.footer-bg-1 { background-color: #c76b82; }
.footer-bg-2 { background-color: #92374d; }
.footer-bg-3 { background-color: #5c2331; }
.footer-bg-4 { background-color: #37151e; }



/*#footer-main-section {
    background-color: #293132;
}*/

.footer-heading,
.footer-icon {
    color: #f1dae0;
}

.footer-text {
    color: #f1dae0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.footer-list-group {
    list-style: none;
    color: #f1dae0;
    background-color: #5c2331;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.footer-list-group-item {
    border: none;
    color: #f1dae0;
    background-color: #5c2331;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.footer-anchor{
    color: #f1dae0;
    text-decoration: none;
}

#footer-disclaimer p{
    color: #f1dae0;
    font-weight: 500;
    letter-spacing: 2px;
}



/* Hover.css */
.footer-anchor:hover{
    color: #e3b5c1;
    text-decoration: none;
    transition: 0.3s;
}


/* Media Query */

@media only screen and (min-width: 575.98px) {


}

@media only screen and (min-width: 767.98px) {


}

@media only screen and (min-width: 991.98px) {
   

}

/* Code Credit:  Chris Z. (https://github.com/ckz8780) */
/* Widen BS containers to utilize larger screen sizes. */
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media only screen and (min-width: 991.98px) {
   .fixed-top-desktop-only {
       position: fixed;
       top: 0;
       right: 0;
       left: 0;
       z-index: 1000;
   }

   .header-container {
       padding-top: 164;     /*  TEST HIGH - Update here when header height is calcalated correctly.*/
   }
}