<!-- Code Credit:  Starting code from Chris Z (https://github.com/ckz8780) -->

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="allproducts-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="allproducts-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="craftkit-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Craft Kits
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="craftkit-link">
                <a href="{% url 'products' %}?category=kit_card_making" class="dropdown-item">Card Making</a>
                <a href="{% url 'products' %}?category=jewellery_making" class="dropdown-item">Jewellery Making</a>
                <a href="{% url 'products' %}?category=crochet" class="dropdown-item">Crochet</a>
                <a href="{% url 'products' %}?category=kit_knitting" class="dropdown-item">Knitting</a>
                <a href="{% url 'products' %}?category=kit_sewing" class="dropdown-item">Sewing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Homeware
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=candles" class="dropdown-item">Candles</a>
                <a href="{% url 'products' %}?category=wood_turning" class="dropdown-item">Wood Turning</a>
                <a href="{% url 'products' %}?category=pottery" class="dropdown-item">Pottery</a>
                <a href="{% url 'products' %}?category=ceramics" class="dropdown-item">Ceramics</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="handmadegifts-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Handmade Gifts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="handmadegifts-link">
                <a href="{% url 'products' %}?category=greeting_cards" class="dropdown-item">Greeting Cards</a>
                <a href="{% url 'products' %}?category=jewellery" class="dropdown-item">Jewellery</a>
                <a href="{% url 'products' %}?category=fragrances" class="dropdown-item">Fragrances</a>
                <a href="{% url 'products' %}?category=toys" class="dropdown-item">Children's Toys</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>