{% load static %}

<!doctype html>
<html lang="en">
    <head>

        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
            <!-- Bootstrap CSS -->
            <link
                href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
                rel="stylesheet"
                integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
                crossorigin="anonymous">
            <!-- Bootstrap Icons -->
            <link 
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
            <!-- Main Site CSS -->
            <link
                rel="stylesheet"
                href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
            <!-- JQuery Minified JS --> 
            <script 
                src="https://code.jquery.com/jquery-3.6.0.min.js" 
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
                crossorigin="anonymous"></script>
            <!-- Popper JS -->
            <script 
                src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" 
                integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" 
                crossorigin="anonymous"></script>
            <!-- Bootstrap JS -->
            <script 
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" 
                integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" 
                crossorigin="anonymous"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        <title>Dromcondra Craftshop {% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        <header class="container-fluid dixed-top">
            <div class="row">
                <!-- Main Logo -->
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                    <a href="{% url 'home' %}" class="nav-link dc-logo-link">
                        <h2 class="dc-logo-font text-black my-0">Dromcondra <strong>Craftshop</strong></h2>
                    </a>
                </div>
                <!-- Search Box -->
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <form method="GET" action="">
                        <div class="input-group w-100">
                            <input class="form-control border-black rounded-0" type="text" name="q" placeholder="Search">
                            <div class="input-group-append">
                                <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                    <span class="icon">
                                        <i class="bi bi-search" role="img" aria-label="Search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Login and Shopping Cart --> 
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        <li class="list-inline-item dropdown">
                            <!-- User Account Dropdown Button -->
                            <a class="text-black nav-link dropdown-toggle" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="bi bi-person-fill"></i></div>
                                    <p class="my-0">My Account</p>
                                </div>
                            </a>
                            <!-- User Account Dropdown Menu -->
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="" class="dropdown-item">Product Management</a>
                                    {% endif %}
                                    <a href="" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Log Out</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Log In</a>
                                {% endif %}
                            </div>
                        </li>
                        <!-- Shopping Cart Icon -->
                        <li class="list-inline-item">
                            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
                                <div class="text-center">
                                    <div><i class="bi bi-basket-fill"></i></div>
                                    <p class="my-0">
                                        {% if grand_total %}
                                            ${{ grand_total|floatformat:2 }}
                                        {% else %}
                                            €0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Rainbow Horizontal Rule -->
            <div class="col-12 hr_div">
                <span class="hr_span bg_color1"></span>
                <span class="hr_span bg_color2"></span>
                <span class="hr_span bg_color3"></span>
                <span class="hr_span bg_color4"></span>
                <span class="hr_span bg_color5"></span>
            </div>
        </header>
        <!-- Message container for displaying user messages -->
        {% if messages %}
            <div class="message-container"></div>
        {% endif %}

        <!-- Custom header for certain app pages -->
        {% block page_header %}
        {% endblock %}
        
        <!-- Main HTML page content block -->
        {% block content %}
        {% endblock %}
        <footer class="container-fluid px-0 pt-3 pb-0" id="footer-main-section">
            <div class="row p-3 mt-3">
                <!-- Back to top -->
                <div class="col-12 footer-column">Back to top link</div>
                <!-- About us -->
                <div class="col-md-8 footer-column">
                    <h4 class="footer-heading">
                        <i class="footer-icon fas fa-users pr-2"></i>
                        About Us
                    </h4>
                    <p class="footer-text">
                        The Dromcondra Craftshop is located right in the middle of Dromcondra village, one of North Dublin's most iconic locations. Over the past five years, we've built up great relationships with some of the finest local creators.
                    </p>
                    <p class="footer-text">
                        We pride ourselves on bringing affordable, quality produce from local, national and international artisans and creators to you. Check out our online store - we deliver internationally. Or if you're in the area, why not drop in! We'd love to see you. :)
                    </p>
                </div>
                <!-- Contact Details -->
                <div class="col-md-4 footer-column">
                    <h4 class="footer-heading">
                        <a href="#" class="footer-anchor" aria-label="Contact us">   <!-- TESTHIGH - Add link to contact form -->
                            <i class="footer-heading fas fa-comment-dots pr-1"></i>
                            Contact
                        </a>
                    </h4>
                    <ul class="list-group footer-list-group p-0 m-0">
                    <!-- Footer Business Address -->
                        <li class="list-group-item footer-list-group-item p-0 m-0">
                            <p class="footer-text p-0 m-0"><i class="footer-icon fas fa-map-pin pl-1 pr-2"></i>Unit 2B,</p>
                            <p class="footer-text pl-4 py-0 m-0">ABC Dromcondra,</p>
                            <p class="footer-text pl-4 py-0 m-0">Dromcondra Rd. Lower,</p>
                            <p class="footer-text pl-4 py-0 m-0">Dublin 9,</p>
                            <p class="footer-text pl-4 py-0 m-0">Ireland.</p>
                            <p class="footer-text pl-4 py-0 m-0">D09 1234.</p>
                        </li>
                        <!-- Footer Contact Telephone Number -->
                        <li class="list-group-item footer-list-group-item p-0 m-0">
                            <i class="footer-icon fas fa-phone px-1"></i>
                            +353 (0)1 123 4567
                            <br>
                        </li>
                        <!-- Footer Email Address -->    
                        <li class="list-group-item footer-list-group-item p-0 m-0">
                            <a href="mailto:info@dromcondracraftshop.com" class="footer-anchor" aria-label="Email us">
                                <i class="footer-icon fas fa-envelope px-1"></i>    
                                info@dromcondracraftstore.com
                            </a>
                            <br>
                        </li>
                        <!-- Footer Web URL -->    
                        <li class="list-group-item footer-list-group-item p-0 m-0">
                            <a href="#" class="footer-anchor" aria-label="Dromcondra Craftshop Webpage URL">  <!-- TESTHIGH - Add link to website -->
                                <i class="footer-icon fas fa-globe px-1"></i>
                                www.dromcondracraftshop.com
                            </a>
                            <br>
                        </li>
                    </ul>
                </div>
                <div class="col-12" id="footer-disclaimer">
                    <p class="text-center pt-5">Website for Educational Purposes Only.</p>
                </div>
            </div>
        </footer>
        <!-- Block for post load JS files when required -->
        {% block postload_js %}
        {% endblock %}

    </body>
</html>