{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="div header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock page_header %}

{% block content %}
    <div class="background-overlay"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <!-- Product Image -->
                <div class="div-product-image my-5">
                    {% if product.item_id.image %}
                        <a href="{{ product.item_id.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.item_id.image.url }}" alt="{{ product.item_id.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.item_id.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <!-- Product Info Container -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="div-product-details mb-5 mt-md-5">
                    <!-- Product Name -->
                    <p class="mb-0">{{ product.item_id.name }} by {{ product.item_id.creator_id.name }}</p>
                    <!-- Product Price -->
                    <p class="lead mb-0 text-left font-weight-bold">€ {{ product.unit_price|floatformat:"2" }}</p> <!-- testhigh -->
                    <!-- Product Category (if applicable) -->
                    {% if product.item_id.category_id %}
                        <p class="small-text mt-1 mb-0">
                            <a class="text-muted" href="{% url 'products' %}?category={{ product.item_id.category_id.category_tag }}">
                                <i class="bi bi-collection-fill"></i> {{ product.item_id.category_id.category_name }}
                            </a>
                        </p>
                    {% endif %}
                    <!-- Product Rating (if applicable) -->
                    {% if product.rating %}
                        <p class="text.small text-muted"><i class="bi bi-star mr-1"></i> {{ product.rating }} / 5</p>
                    {% else %}
                        <p class="text.small text-muted">No rating yet.</p>
                    {% endif %}
                    <!-- Product Long Description -->
                    <p class="mt-3">{{ product.item_id.description }}</p>
                    <!-- Add to shopping basket functionality -->
                    <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                        <!-- Cross site request forgery token -->
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Qty:</strong></p>
                                <div class="input-group">
                                    <input class="form-control" type="number" name="quantity" value="1" min="1" max="99" data-item-id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-5">
                            <a href="{% url 'products' %}" class="btn btn-dc-standard">
                                <span>
                                    <i class="bi bi-arrow-return-right"></i> Continue Shopping?
                                </span>
                            </a>
                            <input type="submit" class="btn btn-dc-standard" value="Add to Basket">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>

                </div>
            </div>
            <!-- End of Product Info Container -->
        </div>
    </div>
{% endblock content %}