{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="div header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock page_header %}

{% block content %}
    <div class="background-overlay"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center mt-3">
                <!-- Products Header -->
                <h2 class="dc-logo-font">
                    All Products
                    <!-- Product Current Category -->
                    {% for c in current_categories %}
                        <span> > </span>
                        <a class="text-decoration-none" href="{% url 'products' %}?category={{ c.category_tag }}">
                            <span>{{ c.category_name }}</span>
                        </a>
                    {% endfor %}
                </h2>
            </div>
            <!-- HR Separator -->
            <div class=" col-10 offset-1 hr-heavy"></div>
            <!-- Product Display Area -->
            <div class="row">
                <div class="product-container col-10 offset-1">
                    <div class="row mt-1 mb-2">
                        <!--
                        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                            <div class="sort-select-wrapper w-50">
                                <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                    <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                    <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 order-md-first">
                            <p class="text-muted mt-3 text-center text-md-left">
                                {% if search_term or current_categories or current_sorting != 'None_None' %}
                                    <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                                {% endif %}
                                {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                            </p>
                        </div>
                    -->
                    </div>
                    <!-- Start of Product Cards Container -->
                    <div class="row">
                        {% for product in products %}
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                <!-- Product Card -->
                                <div class="card h-100 border-0">
                                    <!-- Product Image -->
                                    {% if product.item_id.image %}
                                        <a href="{% url 'product_detail' product.item_id %}">
                                            <img class="card-img-top img-fluid" src="{{ product.item_id.image.url }}" alt="{{ product.item_id.name }}">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'product_detail' product.item_id %}">
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.item_id.name }}">
                                        </a>
                                    {% endif %}
                                    <!-- Product Name -->
                                    <div class="card-body pb-0">
                                        <p class="mb-0">{{ product.item_id.name }}</p>
                                    </div>
                                    <!-- Product Footer -->
                                    <div class="card-footer bg-white pt-0 border-0 text-left">
                                        <div class="row">
                                            <div class="col">
                                                <!-- Product Price -->
                                                <p class="leda mb-0 text-left font-weight-bold">€{{ product.item_id.unitcost }}</p>
                                                <!-- Product Category -->
                                                {% if product.item_id.category_id %}
                                                    <p class="small-text mt-1 mb-0">
                                                        <a class="text-muted" href="{% url 'products' %}?category={{ product.item_id.category_id.category_tag }}">
                                                            <i class="bi bi-collection-fill"></i> {{ product.item_id.category_id.category_name }}
                                                        </a>
                                                    </p>
                                                {% endif %}
                                                <!-- Item Creator -->
                                                {% if product.item_id.creator_id %}
                                                    <p class="small-text mt-1 mb-0">
                                                        <a class="text-muted" href="{% url 'products' %}?creator={{ product.item_id.creator_id.name }}">
                                                            <i class="bi bi-person-circle"></i> {{ product.item_id.creator_id.name }}
                                                        </a>
                                                    </p>
                                                {% endif %}
                                                <!-- Product Rating -->
                                                {% if product.rating %}
                                                    <small class="text-muted"><i class="bi bi-star-fill mr-1"></i>{{ product.rating }} / 5</small>
                                                {% else %}
                                                    <small class="text-muted">Not rated yet.</small>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Footer -->
                                </div>
                                <!-- End Product Card -->
                            </div>
                        {% endfor %}
                    </div>
                    <!-- End of Product Cards Container -->
                </div>
            </div>
            <!-- End Product Display Area -->
        </div>
    </div>
{% endblock content %}
<!--
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}
-->